<%- include("Header") -%>

<% function convert(str) {  %>
<% var date = new Date(str);  %>
<% mnth = ("0" + (date.getMonth() + 1)).slice(-2);%>
<% day = ("0" + date.getDate()).slice(-2);  %>
<% return [date.getFullYear(), mnth, day].join("-"); %>
<% } %>


<h2 class="SCheading">Schedule Classes</h2>
<div class="sdiv">
  <h3>Add A Class</h3>
  <form class="scheduler" action="/add" method="post">
    <input type="text" class = "inputs" name="teacher" value="" placeholder="teacher's name">
    <input type="date" class = "inputs"  name="classdate" value="" placeholder="enter date">
    <input type="time" class = "inputs"  name="timeofclass" value="" placeholder="enter start time">
    <button type="submit" name="button" class="add">ADD</button>
  </form>
</div>

<div class="classes">

  <% record.forEach((item, i) => {  %>


    <div class="cards">
      <p class="classnumber">Class Number : <%= i+1 %></p>
      
      <ul>

        <li class="name"> Student Name: <%= item.teacher  %></li>
        <br>
        <li class="date"> Date :        <%= convert(item.dat)  %></li>
        <br>
        <li class="time"> Time :        <%= item.timing  %></li>
        <br>
        <label for="">Completed </label>
        <input type="checkbox" name="" value="">
      </ul>


    </div>


  <%   });  %>
</div>






<%- include("Footer") -%>
